<header class="main-header">
  <span></span>
  <div class="online">
    <i class="fas fa-user"></i>
    <span>{{online | async}}</span>
  </div>
</header>

<main class="main-content">
  <div class="container">
    <!--<div class="top"></div>-->
    <div class="chat">
      <div *ngFor="let message of messages"
           #chatMsg
           class="message"
           [ngClass]="(message['from']['id'] === user['id']) ? 'you' : 'me'"
           [@slide]="(message['from']['id'] === user['id']) ? 'you' : 'me'"
      >
        <span class="text">{{message.content}}</span>
        <span class="time">{{message.time}}</span>
      </div>
      <span *ngIf="isTyping | async" class="user-typing">Кто-то набирает текст...</span>
    </div>
    <div class="write">
      <span>
        <input #msg id="msg" class="ballon" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage(msg.value)" placeholder="Введите текст">
        <label for="msg">Сообщение</label>
      </span>
    </div>
  </div>
</main>
