<!--The content below is only a placeholder and can be replaced.-->
<!--<ul id="messages" class="chat-list"></ul>-->

<!--<input [(ngModel)]="current" (keyup.enter)="sendMessage()" placeholder="Введите сообщение">-->
<!--<button (click)="sendMessage()">Отправить</button>-->

<!--<form #form="ngForm" (ngSubmit)="enter()">-->
  <!--<div class="field">-->
    <!--<label for="nickname">Имя:</label>-->
    <!--<input id="nickname" [(ngModel)]="model.username" maxlength="10" name="name" required>-->
  <!--</div>-->

  <!--<button type="submit">Войти</button>-->
<!--</form>-->
<h2>Angular Works!</h2>
<h2>Пользователей: {{online}}</h2>
