:host
{
  display: block;
  height: 100%;

  .main-header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 5px;
    background-color: #3e454c;
    color: #fff;
    font-size: 12px;

    .online
    {
      line-height: 45px;
      padding: 0 10px;
      border-left: 1px solid #616161;
    }
  }

  .main-content
  {
    height: calc(~'100% - 45px');

    .container
    {
      height: 100%;
      overflow: hidden;
      background-color: #fff;
    }
  }

  @media screen and (min-width: 576px) {
  }

  @media screen and (min-width: 768px) {
  }

}
