<header class="main-header">
  <!--<a>Test</a>-->
  <span></span>
  <div class="online">
    <i class="fas fa-user"></i>
    <span>{{online > 0 ? online : 0}}</span>
  </div>
</header>

<main class="main-content">
  <div class="container">
    <!--<div class="top"></div>-->
    <div class="chat">
      <span *ngFor="let message of messages" class="message">{{message.content}}</span>
    </div>
    <div class="write">
      <span>
        <input #msg id="msg" class="ballon" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage(msg.value)" placeholder="Введите текст">
        <label for="msg">Сообщение</label>
      </span>
    </div>
  </div>
</main>
